:root {
	--color-gray-100: #f3f4f6;
	--color-gray-300: #d1d5db;
	--color-gray-500: #6b7280;
	--color-gray-700: #374151;
	--color-gray-900: #111827;
}

html {
	height: 100%;
	font-size: 16px;
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	line-height: 1.5rem;
	color: var(--color-gray-900);
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
}
body {
	max-width: 640px;
	min-height: 100%;
	margin: 0 auto;
	padding: 2rem;
	border-left: 1px solid var(--color-gray-300);
	border-right: 1px solid var(--color-gray-300);
}

a {
	color: var(--color-gray-900);
	word-break: break-all;
}
blockquote {
	padding: 1px 1rem;
	color: var(--color-gray-700);
	background-color: var(--color-gray-100);
	a {
		color: var(--color-gray-700);
	}
}
h1,
h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2rem;
}
h3 {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5rem;
}
hr {
	height: 1px;
	border: none;
	border-top: 1px dashed var(--color-gray-300);
}
img {
	max-width: 100%;
	max-height: 480px;
}
p {
	text-align: justify;
}
pre {
	padding: 1rem;
	tab-size: 2rem;
}
ul {
	padding-left: 2rem;
}

hr,
main {	
	margin: 2rem 0;
}
blockquote,
h3,
p,
pre,
:not(li) > ul {
	margin: 1rem 0;
}

.youtube {
	width: 100%;
	aspect-ratio: 16 / 9;
	iframe {
		width: 100%;
		height: 100%;
	}
}
