---
import Layout from '../layouts/Layout.astro';

const pages = (await Astro.glob('../pages/pages/*.md')).reverse();
---

<Layout>
	<article>
		<ul>
			{pages.map(page => (
				<li>
					<a href={page.url}>
						<span>{page.frontmatter.date}</span>
						<span>{page.frontmatter.title}</span>
					</a>
				</li>
			))}
		</ul>
		<ul>
			<li>
				<a href="https://gloxi.net">GLOXINIA</a>
			</li>
		</ul>
	</article>
</Layout>
