---
import Layout from './Layout.astro';
const { frontmatter } = Astro.props;
---

<Layout>
	<h2>
		<div>{frontmatter.date}</div>
		<div>{frontmatter.title}</div>
	</h2>
	<article>
		<slot />
	</article>
	<div>
		<a href="/">&lt;&lt; Top</a>
	</div>
</Layout>
